<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=Project_Group01</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password">123456</property>
    <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="client/entity/Recruitment.hbm.xml"/>
    <mapping resource="client/entity/Cv.hbm.xml"/>
    <mapping resource="client/entity/Worker.hbm.xml"/>
    <mapping resource="client/entity/RecruitmentCategory.hbm.xml"/>
    <mapping resource="client/entity/Category.hbm.xml"/>
    <mapping resource="client/entity/FeedbackCustomer.hbm.xml"/>
    <mapping resource="client/entity/RecruitmentLocation.hbm.xml"/>
    <mapping resource="client/entity/Appointment.hbm.xml"/>
    <mapping resource="client/entity/CvCategory.hbm.xml"/>
    <mapping resource="client/entity/Location.hbm.xml"/>
    <mapping resource="client/entity/RecruitmentToWorker.hbm.xml"/>
    <mapping resource="client/entity/RecruitmentCv.hbm.xml"/>
    <mapping resource="client/entity/Admin.hbm.xml"/>
    <mapping resource="client/entity/Account.hbm.xml"/>
    <mapping resource="client/entity/EmploymentHistory.hbm.xml"/>
    <mapping resource="client/entity/FeedbackSystem.hbm.xml"/>
    <mapping resource="client/entity/CvLocation.hbm.xml"/>
    <mapping resource="client/entity/Education.hbm.xml"/>
    <mapping resource="client/entity/LevelJob.hbm.xml"/>
    <mapping resource="client/entity/Customer.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
